@model Exemple_03.Models.Departement
@using Exemple_03.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DEPARTEMENT SICO/ASIM</title>
</head>
<body>
    <h2>Projets du département ASIM de SICO</h2>
    <table border="1">
        <TR>
            <TD>
                ID
            </TD>
            <TD>
                NOM
            </TD>

        </TR>
        @foreach (ProjetInformatique p in Model.ListeProjetsDPT)
        {

            <TR>
                <TD>
                    @p.idProjet
                </TD>
                <TD>@p.Nom</TD>
                
            </TR>
        }
    </table>
    <h2>Employés du département ASIM de SICO</h2>
        <table border="1">
            <TR>
                <TD>
                    Nom
                </TD>
                <TD>
                    Age
                </TD>
                <TD>
                    Sexe
                </TD>
                <TD>
                    Certifications
                </TD>
            </TR>
            @foreach (Employe e in Model.Membres)
            {

                <TR>
                    <TD>
                        @e.Nom
                        <input type="hidden" name="nomEmploye" value="@e.Nom">
                    </TD>
                    <TD>@e.Age</TD>
                    <TD>@e.Sexe</TD>
                    <TD>
                        <table border="1">
                            @foreach (Certification c in @e.CV)

                            {
                                <TR><td>@c.Annee</td><td>@c.Certificat</td><td>@c.Organisme</td></TR>
                            }
                        </table>
                    </TD>
                    

                </TR>
            }
        </table>
    <a href="/First/AttribuerProjets">Attribuer les projets</a>
        </body>
</html>
