@model Cours.Models.ModeleVueZoo
@using Cours.Models
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulaire avec HELPERS</title>
</head>
<body>
    @using (Html.BeginForm("RecevoirDescriptionZoo20", "Cours")) {
    <h2>Formulaire avec HELPERS</h2>
    <h3>Affiché par : @ViewBag.info</h3>
<table>
    <tbody>
        <!-- les boutons radio -->
        <tr>
            <td>Animal dangereux ?</td>
            <td>
                @{
                    foreach (ModeleApplicationZoo.Item item in @Model.RadioButtonFieldItemsDangereux)
                    {
                        @Html.RadioButtonFor(m => m.RadioButtonFieldDanger, @item.Value)@item.Label
                        <text/>
                    }
                }
            </td>
        </tr>
        <!-- les cases à cocher
    <tr>
        <td>Cases à cocher</td>
        <td>
            @{
               // @Html.CheckBoxFor(m=>m.CheckBoxesFieldOrigine)  @Model.CheckBoxesFieldItemsOrigine[0].Label
               // @Html.CheckBoxFor(m=>m.CheckBoxField2)  @Model.CheckBoxesFieldItems[1].Label
               // @Html.CheckBoxFor(m=>m.CheckBoxField3)  @Model.CheckBoxesFieldItems[2].Label
            }
       </td>
            </tr>
                -->
        <!-- le champ de saisie texte monoligne -->
        <tr>
            <td>Nom de l'animal</td>
            <td>
                @Html.TextBoxFor(m => m.TextFieldNom, new { size = "30" })
            </td>
        </tr>
        <!-- le champ de saisie d'un mot de passe -->
        <tr>
            <td>Message secret</td>
            <td>
                @Html.PasswordFor(m => m.PasswordField, new { size = "15" })
            </td>
        </tr>
        <!-- le champ de saisie texte multilignes -->
        <tr>
            <td>Commentaires sur l'animal</td>
            <td>
                @Html.TextAreaFor(m => m.TextAreaFieldCommentaires, new { cols = "30", rows = "5" })
            </td>
        </tr>
        <!-- la liste déroulante -->
        <tr>
            <td>Repas de l'animal</td>
            <td>@Html.DropDownListFor(m => m.DropDownListFieldRepas, new SelectList(@Model.DropDownListFieldItemsRepas, "Value", "Label"))</td>
        </tr>
        <!-- la liste déroulante -->
        <tr>
            <td>Origine de l'animal</td>
            <td>@Html.DropDownListFor(m => m.DropDownListFieldTypeAnimal, new SelectList(@Model.DropDownListFieldItemsTypeAnimal, "Value", "Label"))</td>
        </tr>
        <!-- la liste à choix unique
    <tr>
        <td>Liste à choix unique</td>
        <td>
            /*Html.DropDownListFor(m => m.SimpleChoiceListField,
            new SelectList(Model.SimpleChoiceListFieldItems, "Value", "Label"), new { size = "3" })*/
    </tr>
        -->
        <!-- la liste à choix multiple -->
        <tr>
            <td>Liste à choix multiple</td>
            <td>
                @Html.ListBoxFor(m => m.MultipleChoiceListField, new SelectList(@Model.MultipleChoiceListFieldItems, "Value", "Label"), new { size = "5" })
        </tr>
    </tbody>
</table>
    <input type="submit" value="Valider" />
  }
</body>
</html>
