@model Cours.Models.Animal
@using Cours.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZOO - Définir ce qui a été choisi</title>
</head>
<body>
    <p>Animal concerné</p>
    <table>
        <tr><td>Nom de l'animal</td><td>@Model.NomAnimal</td></tr>
        <tr><td>Surnom de l'animal</td><td>@Model.SurnomAnimal</td></tr>
        <tr><td>Repas de l'animal</td><td>@Model.RepasAnimal</td></tr>
        <tr><td>Type de l'animal</td><td>@Model.TypeAnimal</td></tr>
    </table>
    <br><br>
    <p>Décrire l'animal</p>
    <form method="post" action="/Cours/DecrireAnimal">
        TYPE
        @Html.DropDownList("ListeDeroulante_TypeAnimal", Model.ListeDeroulante_TypeAnimal as SelectList)

        <br><br>
        DANGER
        <input type="radio" name="BoutonRadio_DangerAnimal" value="Dangereux" checked />Dangereux
        <input type="radio" name="BoutonRadio_DangerAnimal" value="Inoffensif" />Inoffensif
        <br><br>
        REPAS
        @Html.DropDownList("ListeDeroulante_Repas", Model.ListeDeroulante_Repas as SelectList)

        <br>
        <br>
        ORIGINE GEOGRPAPHIQUE

        <input type="checkbox" name="CaseCocher_Origine" checked value="Afrique">Afrique
        <input type="checkbox" name="CaseCocher_Origine" value="Amerique">Amérique
        <input type="checkbox" name="CaseCocher_Origine" value="Europe">Europe
        <input type="checkbox" name="CaseCocher_Origine" value="Asie">Asie
        <input type="checkbox" name="CaseCocher_Origine" value="Afrique">Afrique
        <BR><br />
        <input type="submit" value="Décrire l'animal">
    </form>


    <br><br>

</body>
</html>
